<!DOCTYPE html>
<html>
<head>
  <title>FCC NWA</title>
</head>
<body>
  <h1>Welcome to Free Code Camp <br>Northwest Arkansas</h1>
  <hr>
  <p>FCCNWA is a group in Northwest Arkansas for aspiring web developers.</p>
  <p>We study web development using a free online curriculum from <a href="http://freecodecamp.com" target="_blank">Free Code Camp.com</a></p>
  <p>Here, you will get to see the progression of this website as the students of FCCNWA continue to make the project better as they learn.</p>
  <p>This is just the beginning, so stay tuned.</p>
</body>
</html>